@model Fornecedor

@{
    ViewData["Title"] = "Editar Fornecedor";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Cadastro de Fornecedores</h1>
    </div>

    <form method="post" asp-controller="Fornecedor" asp-action="Editar">
        <div class="mb-3">
            <label for="FornecedorNome" class="form-label text-light">Fornecedor:</label>
            <input type="text" class="form-control text-dark" asp-for="FornecedorNome" id="FornecedorNome" placeholder="Nome do fornecedor">
            @* asp-for serve pra identificar a propriedade que receberá o valor do input *@
            <span asp-validation-for="FornecedorNome" class="text-danger"></span>
        </div>
       

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Salvar</button>
            <a class="btn btn-primary w-50" asp-controller="Fornecedor" asp-action="Index">Voltar</a>
        </div>

    </form>
</div>