@model SaidaProduto

@{
    ViewData["Title"] = "Editar Saida";
}

<div class="container bg-dark p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1 class="text-light">Saída de estoque</h1>
    </div>

    <form method="post" asp-controller="SaidaProduto" asp-action="Editar">
        <div class="mb-3">
            <label for="DataSaida" class="form-label text-light">Data:</label>
            <input type="date" class="form-control text-dark" asp-for="DataSaida" id="DataSaida" placeholder="Data de saída">
            @* asp-for serve pra identificar a propriedade que receberá o valor do input *@
            <span asp-validation-for="DataSaida" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="NomeCliente" class="form-label text-light">Cliente:</label>
            <input type="text" class="form-control text-dark" asp-for="NomeCliente" id="NomeCliente" placeholder="Nome do cliente">
            @* asp-for serve pra identificar a propriedade que receberá o valor do input *@
            <span asp-validation-for="NomeCliente" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="ProdutoId" class="form-label text-light">Produto:</label>
            <select class="form-select text-dark" asp-for="ProdutoId" id="ProdutoId">
                <option value="">Selecione um produto</option>
                @foreach (var produto in ViewBag.Produtos)
                {
                    <option value="@produto.Id">@produto.ProdutoNome</option>
                }
            </select>
            <span asp-validation-for="ProdutoId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input type="hidden" class="form-control text-dark" asp-for="NumeroSerie" id="NumeroSerie" placeholder="Número de série">
            <span asp-validation-for="NumeroSerie" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="PrecoCusto" class="form-label text-light">Preco de venda(0,00):</label>
            <input type="text" class="form-control text-dark" asp-for="PrecoVenda" id="Preco" placeholder="Preco de venda" >
            <span asp-validation-for="PrecoVenda" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="Ativado" class="form-label text-light">Ativado?</label>
            <select class="form-select text-dark" asp-for="Ativado" id="Ativado">

                <option value="true">Sim</option>
                <option value="false">Não</option>

            </select>
            <span asp-validation-for="Ativado"></span>
        </div>


        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Salvar</button>
            <a class="btn btn-primary w-50" asp-controller="SaidaProduto" asp-action="Index">Voltar</a>
        </div>

    </form>
</div>